*{
    box-sizing: border-box;
    margin: auto;
}
body{
    background-color: #F1EAE4;
    color: #312B27;
    margin: 0;
    padding: 0;
}
nav{
    font-size: 30px;
}
.nav-pills .nav-link{
    color: #E9E9A9;
    background-color:#312b27;
    border-radius: 50rem;
}
.nav-pills .nav-link{
    border-radius: 50rem;
}
.nav-pills .nav-link:focus{
    background-color: rgb(207, 18, 18);
    color: black;
}
a{
    border-radius: 50rem;
    margin: 0 10px;
}
.nav-link{
    background-color:  #49423D;
    color: #F1EAE4;
}
a:hover {
    color: #E9E9A9;
}

#contenu{
    padding: 0 100px 0 100px;
    text-align: center;
}
form{
    background-color: #F0F0CA;
    border:2px solid #645C57;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top:70px;
    border-radius: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
}
input{
    width: 50%;
    height: 40px;
    margin: 20px;
    border-radius: 20px;
    border: solid 1px #645C57;
}
h1{
    color: #6C794D;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
#footer{
    text-align: center;
    padding-top: 20px;
    background-color: brown;
    padding: 0;
    margin: 0;
}